
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
}


.container {
    height: 80vh;               
    width: 50vw;                

    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 25vw;
    margin-right: 25vw;
    text-align: center;
}

.image-box img {
    width: 100%;
    height: auto;
}


.btn {
    padding: 1vh 2vw;

    font-size: 2vh;
    font-weight: bold;
    color: white;
    width: 100%;
    background: linear-gradient(45deg, #ff7e5f, #feb47b);

    cursor: pointer;
}


.btn:hover {
    opacity: 0.9;
}